<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script src="SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
<script src="SpryAssets/SpryValidationTextarea.js" type="text/javascript"></script>
<link href="SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css" />
<link href="SpryAssets/SpryValidationTextarea.css" rel="stylesheet" type="text/css" />
</head>

<body>
<fieldset>
  <legend>UPDATE PRODUCT</legend>
  <form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
    <p>
      <label for="P_NAME">PRODUCT NAME</label>
      <span id="sprytextfield2">
      <label for="productname"></label>
      <input type="text" name="productname" id="pname" value="{{ data['p_name']}}" />
    <span class="textfieldRequiredMsg">A value is required.</span></span></p>
    <p>
      <label for="P_NAME2">BRAND_NAME</label>
      <span id="sprytextfield3">
      <label for="bname"></label>
      <input type="text" name="bname" id="brandname" value="{{ data['Brand_name']}}" />
    <span class="textfieldRequiredMsg">A value is required.</span></span></p>
    <p>PRICE<span id="sprytextfield1">
      <label for="text1"></label>
      <input type="text" name="price" id="price"  value="{{ data['price']}}" />
    <span class="textfieldRequiredMsg">A value is required.</span></span></p>
    <p>
      <label for="textfield">LOCATION</label>
      <input type="text" name="location" id="textfield"  value="{{ data['p_location']}}"/>
    </p>
    <p>
      <label for="textarea">INGREDIENTS</label>
      <textarea name="ingredients" id="textarea" cols="45" rows="5">{{ data['ingredients']}}</textarea>
    </p>
    <p>USAGEDETAILS
      <label for="description"></label>
      <span id="sprytextarea1">
      <label for="usagedetails"></label>
      <textarea name="description" id="description"cols="45" rows="5">{{ data['description']}}</textarea>
    <span class="textareaRequiredMsg">A value is required.</span></span></p>
    <p>
      <label for="photo">PHOTO</label>
      <img src="{{ data['p_photo']}}"height="100" width="100"><input type="file" name="photo" id="photo" />
    </p>
    <p>
      <input type="submit" name="update" id="submit" value="update" />
    </p>
  </form>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</fieldset>
<script type="text/javascript">
var sprytextfield1 = new Spry.Widget.ValidationTextField("sprytextfield1");
var sprytextfield2 = new Spry.Widget.ValidationTextField("sprytextfield2");
var sprytextfield3 = new Spry.Widget.ValidationTextField("sprytextfield3");
var sprytextarea1 = new Spry.Widget.ValidationTextarea("sprytextarea1");
</script>
</body>
</html>
