<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<form action="" method="get"><table width="200" border="1">
  <tr>
    <td><strong>#</strong></td>
    <td><strong>PRODUCT NAME</strong></td>
    <td><strong>LOCATION</strong></td>
    <td><strong>BRAND NAME</strong></td>
    <td><strong>INGREDIENTS</strong></td>
    <td><strong>PRICE</strong></td>
    <td><strong>DESCRIPTION</strong></td>
    <td><strong>PHOTO</strong></td>
    
  </tr>
    {% for i in data %}


  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['p_name'] }}</td>
    <td>&nbsp;{{ i['p_location']}}</td>
    <td>&nbsp;{{ i['Brand_name']}}</td>
    <td>&nbsp;{{ i['ingredients']}}</td>
    <td>{{ i['price']}}&nbsp;</td>
    <td>&nbsp;{{ i['description']}}</td>
    <td><img src="{{ i['p_photo']}}"height="100" weight="100"></td>
      <td><a href="/delete_product/{{ i['pid']}}"onclick="return confirm('Are you sure to delete?')">delete</a>
      <a href="/update_product/{{ i['pid']}}">update</a></td>

  </tr>

    {% endfor %}

</table>
</form>
<body>
</body>
</html>
